In [11]:
import pandas as pd

In [12]:
datos = {
"Nombre": ["Ana", "Luis", "Pedro"],
"Edad": [23, 30, 27]
}
df = pd.DataFrame(datos)

print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

In [13]:
# crear una lista

edad = [30,40,50]

In [14]:
# convertirla a serie
serie = pd.Series(edad)

In [15]:
# mostrar resultado
serie

0    30
1    40
2    50
dtype: int64

In [16]:
serie [1]

np.int64(40)

In [17]:
# cambiar indices
serie = pd.Series(edad, index = ["Alex", "John", "Maria"])

In [18]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [19]:
serie   ['Alex']

np.int64(30)

### Ejemplo 2

In [20]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [21]:
type(naranjas)

pandas.core.series.Series