### MANIPULACION Y LECTURA DE DATOS EN PANDAS xd

`¿para que sirve?`

La carga y lectura de datos en Pandas sirve para importar y manipular datos facilmente dentro de Python. Es uno de los pasos mas importantes cuando trabajas con analisis de datos, ciencia de
datos o cualquier proceso relacionado con bases de datos y archivos.

Asi se importa la libreria de pandas y se hace la lectura de cualquier archivo mencionado en la diapositiva

`¿Qué es la lectura de datos en Pandas?`

Es el proceso de importar datos externos a un programa de Python usando Pandas. Los datos pueden estar en muchos formatos como:

- csv (valores separados por comas)
- xlsx (Excel)
- json
- sql (bases de datos)
- Archivos de texto (.txt)
- HTML, entre otros

In [7]:
import pandas as pd
df = pd.read_csv('./Data/linkedin-jobs-usa-modificado.csv')

# tambien puede ser
# df = pd.read_csb('archivo.sql')
# df = pd.read_csb('archivojson')
# df = pd.read_csb('archivo.xlsx')

### Exploracion: Comandos o Metodods, `head()`, `info()`, `tile()`, `describe`, `dtype` y `shape`

In [8]:
df.head()

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
0,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,86658.0,Buffalo-Niagara Falls Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
1,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74052.0,"San Jose, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
2,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,81425.0,"Texas, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
3,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74828.0,"Illinois, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
4,Entry-Level Data Analyst,The Federal Savings Bank,"The Federal Savings Bank, a national bank and ...",onsite,83737.0,"Chicago, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-17,https://www.linkedin.com/jobs/view/entry-level...

In [9]:
df.head(10)

,title,company,description,onsite_remote,salary_float,location,criteria,posted_date,link
0,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,86658.0,Buffalo-Niagara Falls Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
1,Data Analyst - Recent Graduate,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74052.0,"San Jose, CA","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-22,https://www.linkedin.com/jobs/view/data-analys...
2,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,81425.0,"Texas, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
3,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,74828.0,"Illinois, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
4,Entry-Level Data Analyst,The Federal Savings Bank,"The Federal Savings Bank, a national bank and ...",onsite,83737.0,"Chicago, IL","[{'Seniority level': 'Entry level'}, {'Employm...",2022-11-17,https://www.linkedin.com/jobs/view/entry-level...
5,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,82802.0,Greater Scranton Area,"[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
6,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,104876.5,"Tennessee, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
7,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,69238.0,"Indiana, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...
8,Data Analyst,London Approach,The ideal candidate for the Data Analyst/Finan...,onsite,110000.0,"Franklin, TN","[{'Seniority level': 'Associate'}, {'Employmen...",2022-11-21,https://www.linkedin.com/jobs/view/data-analys...
9,Data Analyst,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",onsite,96382.0,"Wisconsin, United States","[{'Seniority level': 'Not Applicable'}, {'Empl...",2022-11-17,https://www.linkedin.com/jobs/view/data-analys...

Al usar `head()` te muestra solo las primeras columnas dentro del archivo, tu puedes poner que tantas filas
quieres que te muestre, si son millones de datos puedes decirle que te muestre las primeras 100,200, 0 10
filas ejemplo:

In [10]:
df.describe()

        salary_float
count    2845.000000
mean    75528.560633
std     34985.578239
min        23.000000
25%     71451.500000
50%     84108.500000
75%     96004.000000
max    140000.000000

In [11]:
df['salary_float'].mean()

np.float64(75528.56063268892)

In [14]:
# Permite visualizar los tipos de datos de las columnas
df.dtypes

title             object
company           object
description       object
onsite_remote     object
salary_float     float64
location          object
criteria          object
posted_date       object
link              object
dtype: object

In [ ]:
# Filas | columnas
df.shape

(2845, 9)

In [ ]:
#Total de filas
df.shape[0]

2845

In [19]:
#Total de columnas
df.shape[1]

9

In [21]:
# La colan ff
df.tail

<bound method NDFrame.tail of                                title                   company  \
0     Data Analyst - Recent Graduate                    PayPal
1     Data Analyst - Recent Graduate                    PayPal
2                       Data Analyst                    PayPal
3                       Data Analyst                    PayPal
4           Entry-Level Data Analyst  The Federal Savings Bank
...                              ...                       ...
2840             Junior Data Analyst        Iris Software Inc.
2841              Data Analyst (SQL)             Marwood Group
2842                    Data Analyst        SmartSense by Digi
2843                    Data Analyst            Synergy Search
2844                    Data Analyst            Insight Global

                                            description onsite_remote  \
0     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
1     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
2     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
3     At PayPal (NASDAQ: PYPL), we believe that ever...        onsite
4     The Federal Savings Bank, a national bank and ...        onsite
...                                                 ...           ...
2840  Iris's client, one of the world's largest fina...        hybrid
2841  The Marwood Group (Marwood) is a leading healt...        hybrid
2842  Join a high-performing, tight-knit team at a f...        hybrid
2843  Nashville (Berry Hill) based company looking t...        hybrid
2844  Overview - Minimum 5 years in a quantitative d...        hybrid

      salary_float                         location  \
0          86658.0       Buffalo-Niagara Falls Area
1          74052.0                     San Jose, CA
2          81425.0             Texas, United States
3          74828.0          Illinois, United States
4          83737.0                      Chicago, IL
...            ...                              ...
2840       93219.5             Texas, United States
2841       85000.0  New York City Metropolitan Area
2842       76407.5                    Mishawaka, IN
2843       90000.0      Nashville Metropolitan Area
2844      140000.0                      Burbank, CA

                                               criteria posted_date  \
0     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-22
1     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-22
2     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
3     [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-17
4     [{'Seniority level': 'Entry level'}, {'Employm...  2022-11-17
...                                                 ...         ...
2840  [{'Seniority level': 'Mid-Senior level'}, {'Em...  2022-10-21
2841  [{'Seniority level': 'Mid-Senior level'}, {'Em...  2022-10-26
2842  [{'Seniority level': 'Associate'}, {'Employmen...  2022-11-17
2843  [{'Seniority level': 'Not Applicable'}, {'Empl...  2022-11-14
2844  [{'Seniority level': 'Mid-Senior level'}, {'Em...  2022-11-14

                                                   link
0     https://www.linkedin.com/jobs/view/data-analys...
1     https://www.linkedin.com/jobs/view/data-analys...
2     https://www.linkedin.com/jobs/view/data-analys...
3     https://www.linkedin.com/jobs/view/data-analys...
4     https://www.linkedin.com/jobs/view/entry-level...
...                                                 ...
2840  https://www.linkedin.com/jobs/view/junior-data...
2841  https://www.linkedin.com/jobs/view/data-analys...
2842  https://www.linkedin.com/jobs/view/data-analys...
2843  https://www.linkedin.com/jobs/view/data-analys...
2844  https://www.linkedin.com/jobs/view/data-analys...

[2845 rows x 9 columns]>

In [22]:
df.columns

Index(['title', 'company', 'description', 'onsite_remote', 'salary_float',
       'location', 'criteria', 'posted_date', 'link'],
      dtype='object')

In [23]:
df.index

RangeIndex(start=0, stop=2845, step=1)