# Ejemplo  1: Esto es un notebook de practica

```

# Ejemplo 1: Esto es un notebook de Practica.

---

### 1. Objetivos:
    - Repasar rápidamente como funciona un jupyter notebook

### 2. Requisitos:
    - Jupyter notebook instalado

Esto es una celda `Markdown
`

In [ ]:
# Esto es una celda de codigo
#y yo soy un comentario ...

Escribamos algo de codigo para recordar:

In [2]:
var_1 = 4
var_2 = 5

var_1 + var_2

9

In [3]:
print(var_1, var_2)

4 5

In [4]:
print(str(var_1) + ',' + str(var_2))

4,5

In [6]:
print(var_1 + var_2)

9

In [7]:
var_1 = 10
var_1 + var_2

15